$font-main:'Playfair Display',
serif;
$font-other: 'Roboto',
sans-serif;
$primary-color: #177165;
$background: #E1F4F2;
$text: #777777;
$title-color: #fff;
$paragraph: #A4D6CF;
$btn-border: 2px solid $primary-color;
$font-size-for-common-text: 1.2rem;
$margin-top-about-me: 2.5rem;
$margin-bottom-about-me: 2.5rem;
$title-size: 2.8rem;
$subtitle-size: 2rem;
$menu-size: 0.9rem;


/* Прелоадер для сайта*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: white;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* Прелоадер для сайта*/


/* сюда добавим общие для страницы стили*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header-photo__block .img-aboutme__block,
.research-container__img {
    width: 50%;
}

@media screen and (max-width: 768px) {

    .text-about__block {
        width: 100%;
    }
}

/* блоки об учебе и работе */

.studies {
    background-color: $background;
    margin-top: 10%;
    padding-top: 3%;
}

.work {
    margin-bottom: 3%;
    margin-top: 7vh;
    background-color: $background;
    padding-top: 3%;
}

.work__block_right,
.study__block_right {
    padding-left: 15%;
}

.work__content__block,
.study__content__block {
    background-color: white;
    max-width: 70%;
    padding: 4% 6%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    border-radius: 10px;

    p {
        color: $text;
        font-family: $font-other;
        font-size: 0.9rem;
    }
}

.study__content__title,
.work__content__title {
    color: #177165;
    font-family: 'Playfair Display';
}


.work__title,
.study__title {
    color: $primary-color;
    font-family: 'Playfair Display';

    h2 {
        padding: 5% 7%;
        margin: 5% 5%;
        background-color: #fff;
        border-radius: 10px;
    }
}

.line {
    width: 7px;
    background-color: #177165;
}

.work__content,
.study__content {
    width: 40vw;
    margin-left: -20px;
}

.limiter {
    max-height: 13vh;
    overflow: hidden;
    position: relative;
}

.read-more-checker,
.read-more-checker2 {
    opacity: 0;
    position: absolute;
}

.read-more-checker:checked~.limiter,
.read-more-checker2:checked~.limiter {
    max-height: none;
}

.read-more-checker:checked~.limiter .bottom {
    opacity: 0;
    transition: 0.3s;
}

.read-more-checker~.read-more-button:before,
.read-more-checker2~.read-more-button2:before {
    content: "Развернуть »";
}

.read-more-checker:checked~.read-more-button:before,
.read-more-checker2:checked~.read-more-button2:before {
    content: "Свернуть «";
}

.read-more-button,
.read-more-button2 {
    cursor: pointer;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 5% 10%;
    padding: 1% 2%;
    border-radius: 8px;
    font-family: $font-other;
    font-size: 0.8rem;
    background-color: $primary-color;
    color: #fff;
}

/* mobile for study and career*/

@media screen and (max-width: 900px) {

    .work__content,
    .study__content {
        width: 80vw;
    }

    .work__content__block,
    .study__content__block {
        max-width: 75%;
        padding: 2% 3%;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
        border-radius: 10px;

        h3 {
            font-size: 1rem;
        }
    }

}

/*КОНЕЦ блоков об учебе и работе */


/* styles to "cases"*/

.container-cases {
    margin-bottom: 10vh;
}

.container-cases__title {
    font-size: $subtitle-size;
    margin-bottom: 10vh;
    margin-top: 10vh;
    color: #177165;
    font-family: $font-main;
}


.cases-card__title {
    font-family: $font-other;
    color: $primary-color;
    font-size: 1.6rem;
}

.cases-card__text {
    font-family: $font-other;
    font-size: $font-size-for-common-text;
    color: $text;
}

.cases-card {
    width: 30rem;
    height: 40rem;
    background: #E1F4F2;
    padding: 1.5rem 2.5rem;
}

.carousel-cell {
    width: 45%;
    margin-right: 1rem;
    border-radius: 0.125rem;
    background: #E1F4F2;
}

.carousel {
    margin-bottom: 1.25rem;
}


/* PC */

@media (max-width: 1087px) {
    .container-cases__title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .cases-card__title {
        font-size: 1.5rem;
    }

    .cases-card__text {
        font-size: 0.9rem;
    }

    .cases-card {
        width: 19rem;
    }

    .carousel-cell {
        width: 20rem;
    }
}


/* TABLET */

@media (max-width: 992px) {
    .container-cases__title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .cases-card__title {
        font-size: 1.5rem;
    }

    .cases-card__text {
        font-size: 0.9rem;
    }

    .cases-card {
        width: 300px;
    }

    .carousel-cell {
        width: 320px;
    }
}


/* MOBILE */

@media (max-width: 768px) {
    .container-cases__title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .cases-card__title {
        font-size: 1.5rem;
    }

    .cases-card__text {
        font-size: 0.9rem;
    }

    .cases-card {
        width: 300px;
    }

    .carousel-cell {
        width: 320px;
    }
}


/* MOBILE SMALL */

@media (max-width: 480px) {
    .container-cases__title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .cases-card__title {
        font-size: 1.5rem;
    }

    .cases-card__text {
        font-size: 0.9rem;
    }

    .cases-card {
        width: 300px;
    }

    .carousel-cell {
        width: 320px;
    }
}

/* "cases" styles end */



/* styles to "tab block (patent, cert and research)" */

.tabs-block {
    background: $primary-color;
    margin-top: 8%;
}

.tabs-block__title {
    font-family: $font-main;
    font-size: $subtitle-size;
    color: $primary-color;
    text-align: center;
    color: $title-color;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin-bottom: 2%;
}

.tab-container {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    font-family: $font-other;
    font-size: 1.2rem;
    line-height: 100%;

    .nav .nav-item {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        flex: 1;
    }

    .nav .nav-link::before {
        position: absolute;
        bottom: 1em;
        left: 50%;
        margin-left: -20px;
        width: 30%;
        height: 4px;
        background: #177165;
        content: '';
        opacity: 0;
        transition: transform 0.2s ease-in;
        transform: scale3d(0, 1, 1);
    }

    .nav .nav-link {
        border: 0;
        display: inline-block;
        overflow: visible;
        padding: 1em 0 2em;
        color: #777777;
        line-height: 1;
        transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .nav .nav-link:hover {
        color: #0f705b;
    }

    .nav .nav-link.active::before {
        position: absolute;
        bottom: 1em;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 4px;
        background: #8ea19b;
        content: '';
        opacity: 0;
        transition: transform 0.2s ease-in;
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    .nav .nav-link.active,
    .nav .nav-link.active:hover {
        color: $primary-color;
    }

    .nav i {
        font-size: 1.3em;
        display: block;
        margin: 0 0 0.35em;
    }
}

.tab-content .tab-pane {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1em;
    background: white;
    width: 100%;
}

.nav-tabs {
    border: 0;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
}

.patent__btn,
.research__btn {
    font-family: $font-other;
    font-size: 0.8rem;
    color: $primary-color;
    border: $btn-border;
    border-radius: 0px;
    margin-top: 5%;
    margin-left: 5%;

    &:hover {
        background-color: $paragraph;
        border: none;
    }
}


#patent {
    padding-bottom: 2%;
}

#patents {
    padding-bottom: 1%;
}

.patent__title {
    font-family: $font-main;
    color: $primary-color;
}

.patent__discription,
.research-container__paragraph {
    font-family: $font-other;
    color: $text;
    font-size: 1rem;
    margin-top: 8%;
    padding-left: 5%;
}


.patent__title_small,
.research-container__title {
    font-family: $font-main;
    font-size: 1.4rem;
    padding-top: 5%;
    padding-left: 5%;
    color: $primary-color;
}

.research-container__img {
    padding: 1% 2%;
}

@media (max-width: 992px) {
    .research-container__img {
        display: none;
    }
}

/*style for video*/

.video-block__container1,
.video-block__container2 {
    width: 100%;
    height: 70vh;
}

.video-block__distractor {
    max-height: 100%;
    max-width: 100%;
}

.video-carousel {
    margin-top: 10%;
    margin-bottom: 5%;
}

/*style for certificate*/

.cert-container {
    padding-top: 2%;

    img {
        width: 30%;
        height: 25%
    }
}

.modal-body {
    img {
        width: 100%;
        height: 50%;
    }
}

.btn-close_modal {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    background-color: #fff;
    border: 0;
    padding: 5px 10px;
    font-size: 1.3rem;
}

/*style for research*/
.research__img {
    max-width: 100%;
    border-radius: 5px;
}

.research-container__title_bolder {
    font-weight: bolder;
}


/* styles to "about me" */

.container-aboutme {
    font: 100% $font-main;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.img-aboutme {
    max-width: 100%;
    max-height: 100%;
    margin-top: $margin-top-about-me;
    margin-bottom: $margin-bottom-about-me;
}

.img-aboutme__block {
    padding-left: 0;
    padding-right: 0;
}

.h1-aboutme {
    font-size: $subtitle-size;
    color: $primary-color;
}

.p-aboutme {
    font-size: $font-size-for-common-text;
    color: $text;
    font-family: $font-other;
    line-height: 4vh;
}

.text-about__block {
    padding-left: 5vw;
}


/* styles to "workareas" */

.container-workareas__title {
    color: white;
    font-family: $font-main;
    text-align: left;
    padding-bottom: 14%;
    padding-top: 7%;
}

.container-workareas__topblock {
    background-color: #177165;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -10%;
}

.container-workareas__bottomblock {
    position: relative;
    margin-top: -5%;
    z-index: 2;
    margin-bottom: 3vh;
}

.container-workareas__card {
    max-width: 18rem;
    border: 0.5px solid #177165;
    background-color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-family: $font-other;
    padding-bottom: 2%;
}

.workareas-icon {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
}

@media only screen and (max-width: 768px) {
    .container-workareas__topblock {
        height: 30vh;
        margin-bottom: -25%;
    }

    .container-workareas__title {
        padding-bottom: 20%;
    }

    .container-workareas__card {
        padding-bottom: 7%;
    }
}

/* styles to "header" and footer*/

nav,
.header-block,
.footer-menu,
.dropdown-menu {
    background-color: $primary-color;
    font-family: $font-other;
}

.header-menu {
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-block {
    padding-top: 3%;
}

.header-photo {
    max-width: 75%;
}

.header-block_title {
    font-size: $title-size;
    color: $title-color;
    margin: 3vh 3vw 4vh 5vw;
    font-family: $font-main;
    line-height: 120%;
}

.navbar-toggler-icon {
    color: white;
}

.info-list,
.menu__link,
.header_blue__button,
.dropdown-item {
    color: $paragraph;
}

.info-list {
    font-size: $font-size-for-common-text;
    margin: 7vh 3vw 5vh 7vw;
    font-family: $font-other;

    i {
        font-size: 0.8rem;
    }
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active,
.logo:hover {
    opacity: .75;
    color: $title-color;
}

.nav-link_about:hover .dropdown-menu {
    display: block;
}


.logo {
    text-decoration: none;
}

.logo-icon {
    font-size: 2rem;
    padding-right: 1vw;
    padding-left: 1vw;
}

.menu__item,
.info-list {
    list-style-type: none;
}

.info-list {
    text-indent: -0.5em;
}

.menu__link {
    font-size: $menu-size;
    text-decoration: none;
}

.header_blue__button,
.footer__button,
.footer__clock {
    font-size: $menu-size;
    text-decoration: none;
}

.header_blue__button:hover,
.footer__button:hover {
    color: $title-color;
    opacity: .75;
}

#telegram-icon,
.footer-contacts__icon {
    font-size: 2.5rem;
    padding-right: 0.8vw;
    color: $paragraph;
}

/* styles for mobile menu */
@media only screen and (max-width: 768px) {

    .header-block_title {
        font-size: 2rem;
    }

    .header-photo__block {
        display: none;
    }

    .logo {
        margin-left: 3%;
        font-size: 1.1rem;

        i,
        a {
            margin-top: 1.5%
        }
    }

    .navbar-btn_mobile {
        color: white;
        border: 1px solid;

        span i {
            font-size: 1.9rem;
        }
    }




}

@media screen and (min-width: 992px) {
    .menu__list {
        margin-left: 30%;
    }
}

/* styles to "footer" */

.footer {
    background-color: $primary-color;
    padding: 3% 3%;
    margin-top: 7%;
}

.footer-menu {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
    padding-bottom: 3%;

    li {
        text-indent: -0.5em;
    }
}

.footer-menu__col {
    li {
        padding-bottom: 10%;
    }

    i {
        font-size: 0.7rem;
    }

    a:hover {
        text-decoration: underline;
    }
}

.footer-contacts {
    padding: 2% 2%;
    background-color: #23786D;

    a,
    p {
        color: #fff;
    }

    i {
        padding-left: 0;
        font-size: 1.3rem;
        padding-bottom: 8%;
    }

    .footer-contacts__icons {
        padding-left: 5%;
    }
}

.footer-button:hover {
    opacity: 1.75;
    background-color: #389084;
}


.logo-icon__footer,
.logo {
    color: white;
}

.logo-footer,
.logo {
    font-family: $font-main;
    text-decoration: none;
}

/*styles to "FAQ" */

.accordion-item {
    border: none;
    border-bottom: 1px lightgray solid;
}

.h1-faq {
    font-size: $subtitle-size;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: $primary-color;
    text-align: center;
    font-family: $font-main;
}

.faq-answer {
    font-family: $font-other;
    color: $text;
    font-size: 1rem;
}

.faq-question {
    font-family: $font-other;

    button {
        letter-spacing: 1px;
    }

}

.accordion-button:not(.collapsed) {
    color: $primary-color;
    background-color: white;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.1rem $primary-color;
}