$font-main:'Playfair Display',
serif;
$font-other: 'Roboto',
sans-serif;
$primary-color: #177165;
$background: #E1F4F2;
$text: #777777;
$title-color: #fff;
$paragraph: #A4D6CF;
$btn-border: 2px solid $primary-color;
$font-size-for-common-text: 1.5rem;
$margin-top-about-me:2.5rem;
$margin-bottom-about-me: 2.5rem;

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* блоки об учебе и работе */
.studies {
    background-color: #E1F4F2;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.work {
    background-color: #E1F4F2;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.content-studi {
    background-color: white;
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: #177165 solid;
}

.zagol-data {
    color: #177165;
    font-family: 'Playfair Display';
}

.textcont1 {
    color: black;
    font-family: 'Roboto';
}

.zagol1 {
    color: black;
    font-family: 'Playfair Display';
    margin-top: 5vh;
    margin-left: 3vw;
    width: 30vw;
}

.line {
    width: 10px;
    background-color: #177165;
}

.content {
    width: 70vw;
    margin-left: -30px;
}

.limiter {
    max-height: 13vh;
    overflow: hidden;
    position: relative;
}

.read-more-checker {
    opacity: 0;
    position: absolute;
}

.read-more-checker:checked~.limiter {
    max-height: none;
}

.read-more-checker:checked~.limiter .bottom {
    opacity: 0;
    transition: 0.3s;
}

.read-more-checker~.read-more-button:before {
    content: "Развернуть »";
}

.read-more-checker:checked~.read-more-button:before {
    content: "Свернуть «";
}

.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: black;
    text-decoration: underline;
    margin-left: 5%;
}

.read-more-checker2 {
    opacity: 0;
    position: absolute;
}

.read-more-checker2:checked~.limiter {
    max-height: none;
}

.read-more-checker2:checked~.limiter .bottom {
    opacity: 0;
    transition: 0.3s;
}

.read-more-checker2~.read-more-button2:before {
    content: "Развернуть »";
}

.read-more-checker2:checked~.read-more-button2:before {
    content: "Свернуть «";
}

.read-more-button2 {
    cursor: pointer;
    display: inline-block;
    color: black;
    text-decoration: underline;
    margin-left: 5%;
}

/*КОНЕЦ блоков об учебе и работе */

/* styles to "tab block (patent, cert and research)" */
.tabs-block {
    background: $primary-color;
    height: 100%;
    width: 100%;

    .tabs-block__title {
        font-family: $font-main;
        font-size: 2rem;
        color: $primary-color;
        text-align: center;
        color: $title-color;
        font-weight: 300;
        padding: 40px 0 20px 0;
        margin: 0;
    }
}

.tab-container {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    font-family: $font-other;
    font-size: 1.2rem;
    line-height: 100%;
}

.tab-content .tab-pane {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1em;
    background: white;
    width: 100%;
}

.nav-tabs {
    border: 0;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
}

.nav .nav-item {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    flex: 1;
}

.nav .nav-link::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 30%;
    height: 4px;
    background: #177165;
    content: '';
    opacity: 0;
    transition: transform 0.2s ease-in;
    transform: scale3d(0, 1, 1);
}

.nav .nav-link {
    border: 0;
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #777777;
    line-height: 1;
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.nav .nav-link:hover {
    color: #a0b6b3;
}

.nav .nav-link.active::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #8ea19b;
    content: '';
    opacity: 0;
    transition: transform 0.2s ease-in;
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.nav .nav-link.active,
.nav .nav-link.active:hover {
    background-color: var(#E1F4F2);
    color: #177165;
}

.nav i {
    font-size: 1.3em;
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
    transform: translate3d(0, -100px, 0);
    pointer-events: none;
}

.nav .nav-link.active i {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.patent__btn,
.research__btn {
    font-family: $font-other;
    font-size: 0.8rem;
    color: $primary-color;
    border: $btn-border;
    border-radius: 0px;
    margin-top: 5%;
    margin-left: 5%;

    &:hover {
        font-size: 1rem;
    }
}

.patent {
    padding-bottom: 2%;
}

.patent__discription,
.research-container__paragraph {
    font-family: $font-other;
    color: $text;
    font-size: 1rem;
    padding-top: 5%;
    padding-left: 5%;
}

.patent__title_small,
.research-container__title {
    font-family: $font-main;
    font-size: 1.4rem;
    padding-top: 5%;
    padding-left: 5%;
    color: $primary-color;
}

/*style for video*/
.video-block__container {
    width: 100%;
    height: 70vh;
}

.video-block__distractor {
    max-height: 100%;
}


.cert-container {
    padding-top: 2%;
}

.research__img {
    max-width: 100%;
    border-radius: 5px;
}

.research-container__img {
    width: 40%;
}

.research-container__title_bolder {
    font-weight: bolder;
}


/* styles to "about me" */
.container-aboutme {
    font: 100% $font-main;

}

.img-aboutme {
    max-width: 100%;
    max-height: 100%;
    margin-top: $margin-top-about-me;
    margin-bottom: $margin-bottom-about-me;
}

.h1-aboutme {
    font-size: 2.5rem;
    margin-top: $margin-top-about-me;
    margin-bottom: $margin-bottom-about-me;
    color: $primary-color;
}

.p-aboutme {
    font-size: $font-size-for-common-text;
    color: $text;
}


/* styles to "workareas" */
.container-workareas__title {
    color: $title-color;
    font-family: $font-main;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 3vw;
}

.container-workareas__topblock {
    background-color: #177165;
    height: 30vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-workareas__card {
    height: 34vh;
    max-width: 18rem;
    margin-left: 4vw;
    border: 0.5px solid #177165;
    background-color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font: 'Roboto'
}

.container-workareas__card:hover {
    border: 3px solid #413f3f;
}

#workareas__card1 {
    margin-left: 17vw;
}

.workareas-icon {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container-workareas__bottomblock {
    height: 25vh;
}

/* styles to "header" */
nav,
.header-block {
    background-color: $primary-color;
    font-family: $font-other;
}

.header-block {
    height: 788px;
}

.header-block_title {
    font-size: 60px;
    line-height: 78px;
    color: $title-color;
    margin: 80px 155px;
    font-family: $font-main;
}

.info-list,
.logo,
.menu__link,
.header_blue__button{
    color: $paragraph;
}
.info-list {
    font-size: 25px;
    margin: 30px 155px;
    font-family: $font-other;
}

.header-photo{
    max-width: 100%;
    max-height: 100%;
    padding-left: 150px;
}
.header-menu {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 27px auto;
    padding: 0px 30px;
}

.header-menu ul li {
    margin-right: 29px;
    align-items: center;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active,
.logo:hover{
    opacity: .75;
    color: $title-color;
}

.logo {
    padding-top: 20px;
    text-decoration: none;
    font-size: 30px;
}

.menu__list {
    padding-top: 28px;
}

.menu__item {
    display: inline-block;
    margin-right: 29px;
}

.menu__link {
    display: block;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}

.header__button {
    display: flex;
}

.header_blue__button {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    padding-top: 20px;
}


.header_blue__button:hover {
    color: $title-color;
    opacity: .75;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__menu ul li {
    margin-right: 29px;
}

/* styles to "footer" */

.footer{
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0px;
}
.footer-heading{
    color: $title-color;
    font-size: 60px;
    width: 800px;
}
.footer-button{
    background-color: #23786D;
    border: 1px ;
    width: 400px;
    height: 98px;
    color: $title-color;
    font-size: 25px;
    font-family: $font-other;
}
.footer-button:hover{
    opacity: 1.75;
    background-color: #389084;
}





